body {
    background: #ffffff;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 14px;
    margin: 0;
    padding-bottom: 70px;
}

.logo{
    float: left;
    margin: 20px;
}
.overlay{
    background: rgba(49, 29, 94, 0.58);
    overflow: hidden;
    height: 300px;
}

.cointaner{
    margin: 100px auto;
    max-width: 1024px;
    padding-left: 200px;
    
}
.cointaner h2{
    color: rgb(65, 61, 72);
}

p.cointainer-p{
    padding-right: 100px;
    font-size: 14px;
    color: rgb(129, 127, 134);
}
.intro, .btn-play {
    text-align: center;
    color: #fff;
    clear: both;
}
.header, .video{
    background-image: url(img/bg-header.jpg); 
    background-size: cover;
    overflow: hidden;
    height: 300px;
}
.video{
    background-image: url(img/bg-video.jpg); 

}
.story{
    background-color: #ffffff;
    height: 300px;
}
.story h2{
    font-size: 24px;
}
a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}
.btn-play{
    margin:90px 0;
}

a:hover {
    color: #00e0d0;
    text-decoration: none;
    transition: .3s;
}
.btn{
    padding: 15px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    display: inline-block;
    text-transform: uppercase;
    transition: .3s;
}
.btn:hover{
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: .3s;
}
.btn-story{
    padding: 15px;
    border: 5px solid #00e0d0;
    color: #00e0d0;
    display: inline-block;
    text-transform: uppercase;
    transition: .3s;
}
.test{
    
}

.logo {
    float: left;
}

ul {
    float: right;
    margin:37px;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

h1 {
    font-size: 30px;
}

table {
    background: white;
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid orange;
}

th {
    border: 1px solid red;
}
hr {
    clear: both;
}
