.btn {
  border-radius: 0;
}

.btn-success {
  background-color: #0c631b;
}
.intro {
  margin: 10rem 0;
}
.header{
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  overflow: hidden;
}
.navbar-expand-md .navbar-collapse2 {
  display: unset;
  flex-basis: auto;
}
.header a {
  color: #fff;
}
.header .dropdown-item {
  color: #333;
}
.btn-play {
  text-align: center;
  color: #fff;
  clear: both;
  margin: 250px auto;
}
.overlay{
  background: rgba(49, 29, 94, 0.5);
  color: #fff;
  overflow: hidden;
  
}
.btn, .btn:hover {
  text-transform: uppercase;
  color: #00e0d0;
  border-color: #00e0d0;
}
.btn:hover {
  background-color: #00e0d0;
  color: #000;
}

#slider-home .carousel-indicators {
  position: relative;
  top: 3rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.story{
  background-color: #ffffff;
  height: 300px;
}

.video{
  background-image: url(../img/bg-video.jpg);
  background-size: cover;
  overflow: hidden;
  height: 500px;
}
.video-overlay{
  background: rgba(49, 29, 94, 0.5);
  background-size: cover;
  overflow: hidden;
  height: 500px;
}
.cointaner{
  margin: 50px auto;
  max-width: 1024px;
  padding-left: autopx;
  
}